<!-- accessories.html -->
{% extends "base.html" %}
{% block content %}
        <title>Акксесуары</title>
          
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

      <body>
        <div class="container mt-5">
            <div class="row">
                {% for accessories in accessories_obj %}
                  
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{ accessories.image.url }}" width="200", height="200" >
                            <div class="card-body">
                                <a href="{% url 'accessories_detail' accessories.id %}"><button>{{accessories.name}}</button></a>
                            </div>
                        </div>
                    </div>
                  
                {% endfor %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <a href="{% url 'accessories-create' %}"><button>добавить Акксесуар</button></a>

{% endblock %}