{% extends "base.html" %}
{% block content %}
    <title>Ноутбуки</title>
        
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <body>
      <div class="container mt-5">
          <div class="row">
              {% for laptop in laptop_obj %}
                  <div class="col-md-4 mb-4">
                      <div class="card">
                          <img src="{{ laptop.image.url }}" width="200", height="200" >
                          <div class="card-body">

                              <h5 class="card-title"><a href="{% url 'laptop_detail' laptop.id %}"><button>{{ laptop.company }}</button></a></h5>
                              
                            
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>        
    </body>
    <a href="{% url 'laptop-create' %}"><button>добавить Ноутбук</button></a>

{% endblock %}