<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Телефон страница</title>
</head>
<body>
    <img src="{{ phone_detail_obj.image.url }}" width="200" height="200">
    <p>company : {{ phone_detail_obj.company }}</p>
    <p>name : {{ phone_detail_obj.model }}</p>
    <p>price : {{ phone_detail_obj.price }} $</p>

    <form action="{% url 'phone-delete' phone_detail_obj.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
</body>
</html>
